<div class="login-container d-flex justify-content-center align-items-center">
    <div class="login-card bg-white p-4 rounded shadow-sm w-100" style="max-width: 400px;">
        <h3 class="mb-4 text-center fw-bold">Welcome Back</h3>

        <form (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold">Email</label>
                <input type="email" id="email" class="form-control form-control-lg" [(ngModel)]="email" name="email"
                    required />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password"
                    name="password" required />
            </div>

            <button type="submit" class="btn btn-dark w-100 py-2 mt-2 rounded-pill">
                Login
            </button>
        </form>
    </div>
</div>