<footer class="footer bg-white border-top py-4 mt-5">
    <div class="container ">
        <!-- Brand -->
        <div class="mb-3 mb-md-0">
            <a class="footer-brand fw-bold fs-5 text-dark text-decoration-none" routerLink="/home">
                MyWebsite
            </a>
        </div>

        <ul class="footer-nav list-unstyled d-flex mb-3 mb-md-0 nav-links-footer">
            <li class="mx-2">
                <a class="footer-link nav-custom" routerLinkActive="active-link" routerLink="/home">Home</a>
            </li>
            <li class="mx-2">
                <a class="footer-link nav-custom" routerLinkActive="active-link" routerLink="/profile">Product</a>
            </li>
            <li class="mx-2">
                <a class="footer-link nav-custom" routerLinkActive="active-link" routerLink="/about">About</a>
            </li>
        </ul>
    </div>

    <div class="text-center mt-3 small text-muted">
        © 2025 MyWebsite. All rights reserved.
    </div>
</footer>