<div class="container">
    <div class="row g-4">
        @for (product of productsArr; track product.id) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="card h-100 shadow-sm">
                <img [src]="product.imgUrl" class="card-img-top" alt="{{ product.name }}"
                    style="height: 200px; object-fit: cover;" />
                <div class="card-body d-flex flex-column justify-content-between  m-auto">
                    <div>
                        <h5 class="card-title fw-bold text-danger">{{ product.name }}</h5>
                        <p class="card-text text-muted mb-2">{{ product.disc }}</p>
                    </div>
                    <div>
                        <span class="badge bg-warning text-dark fs-6">
                             {{ product.rate }}/5
                        </span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>